main {
    #billbroad {
        margin-top: 100px;
        .container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .billbroad-left {
                margin-top: 140px;
                flex-basis: 30%;
                padding-left: 32px;
                padding-right: 32px;
                &__title {
                    font-weight: 900;
                    // font-family: Roboto-Bold;
                    font-size: 30px;
                    line-height: 76px;
                    color: var(--text-color);
                    span {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -8px;
                            left: -100px;
                            height: 8px;
                            width: 100%;
                            background-color: $color-main;
                            z-index: 99;
                            animation: runspan 0.5s forwards;
                        }
                    }
                }
                &__sub-title {
                    margin-top: 16px;
                    p {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
            .billbroad-right {
                flex-basis: 65%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    // team-us
    .teams-us {
        margin-top: 50px;
        .container {
            padding-left: 32px;
            padding-right: 32px;
            .teams-img {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &__box {
                    flex-basis: 14%;
                    h3 {
                        margin-bottom: 8px;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .box-first {
                    flex-basis: 20%;
                    display: flex;
                    align-items: center;
                    h2 {
                        font-weight: 900;
                        font-size: 35px;
                        line-height: 41px;
                    }
                }
            }
        }
        .teams-info {
            margin-top: 72px;
            .backend-box {
                display: flex;
                flex-wrap: wrap;

                margin-bottom: 16px;

                &__item {
                    border: 0.5px solid #fcfcfc;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.25);
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    margin-right: 16px;
                    background: #ffffff;
                    padding: 6px 17px;
                    // flex-basis: 50%;
                    .square {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        margin-right: 12px;
                    }
                    .square-blue {
                        background: $color-blue;
                    }
                    .square-green {
                        background: $color-green;
                    }
                    .square-pup {
                        background: $color-pup;
                    }
                    .square-red {
                        background: $color-red;
                    }
                    .backend-text {
                        color: #000000;
                        font-weight: 500;
                    }
                }
            }
            .info-teams {
                .info-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    &__item {
                        flex-basis: 23.5%;
                        margin-bottom: 32px;
                        .img-box {
                            width: 100%;
                            height: 260px;
                        }
                        .item-top {
                            display: flex;
                            align-items: center;
                            .icon-bee {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 50px;
                                height: 50px;
                                background: #ffffff;
                                box-shadow: 0px 4px 4px rgba(236, 236, 236, 0.25);
                                border-radius: 8px;
                                img {
                                    width: 80%;
                                }
                            }
                            .august {
                                display: flex;
                                h5 {
                                    color: #000000;
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 14px;
                                    margin-left: 12px;
                                    margin-right: 4px;
                                }
                                span {
                                    color: #828282;
                                    font-size: 12px;
                                    line-height: 14px;
                                }
                            }
                        }
                        .item-bottom {
                            h3 {
                                margin-top: 22px;
                                margin-bottom: 10px;
                                a {
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 23px;
                                    color: #333333;
                                }
                            }
                            .position-time,
                            .tech {
                                span {
                                    margin-right: 18px;
                                }
                                i {
                                    color: #828282;
                                    font-size: 16px;
                                }
                                color: #333333;
                            }
                            .tech {
                                margin-top: 22px;
                                margin-bottom: 20px;
                            }

                            .btn {
                                padding: 3px 15px;
                                border-radius: 50px;
                                color: #ffffff;
                            }
                            .btn-red {
                                background: $color-red;
                            }
                            .btn-blue {
                                background: $color-blue;
                            }
                            .btn-pup {
                                background: $color-pup;
                            }
                        }
                        .box-last {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span {
                                font-weight: 900;
                                font-size: 35px;
                                line-height: 41px;
                                color: #ff8b08;
                                margin-right: 11px;
                            }
                            h2 {
                                font-weight: 900;
                                font-size: 35px;
                                line-height: 41px;
                                color: var(--text-color);
                            }
                        }
                    }
                }
            }
        }
    }

    // knowdy

    .knowdy-careers {
        margin-top: 100px;
        margin-left: 32px;
        margin-right: 32px;
        &__title {
            font-weight: 900;
            font-size: 40px;
            line-height: 76px;
            text-align: center;
            color: var(--text-color);

            span {
                position: relative;
                z-index: 2;
                &::after {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    bottom: -1px;
                    left: -100px;
                    height: 8px;
                    width: 100%;
                    background-color: $color-main;
                    animation: runspan 0.5s forwards;
                }
            }
        }
        .knowdy-careers-item {
            margin-top: 80px;

            &__box {
                display: flex;
                justify-content: space-between;
                position: relative;
                flex-wrap: wrap;
                .box-center {
                    margin-top: 80px;
                }
                .box-right {
                    margin-top: 160px;
                }
                .box-right-last {
                    margin-top: 300px;
                    margin-right: 100px;
                }
                .box-left-last {
                    margin-top: 150px;
                }
                .knowdy-careers-item-double {
                    margin-top: 150px;
                }
                .item-box {
                    flex-basis: 26%;
                    .item-box-top {
                        display: flex;
                        justify-content: space-between;
                        height: 190px;
                        position: relative;

                        .item-box-left {
                            max-width: 250px;
                            .icon-bee {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 50px;
                                height: 50px;
                                border-radius: 8px;
                                img {
                                    width: 80%;
                                }
                            }
                            .title {
                                h3 {
                                    font-weight: bold;
                                    font-size: 26px;
                                    line-height: 30px;
                                    color: #2c2f50;
                                }
                            }
                        }
                        .item-box-right {
                            position: relative;
                            right: 100px;
                            .personal {
                                position: absolute;
                            }
                            .personal-1,
                            .personal-2,
                            .personal-4 {
                                width: 30px;
                                height: 30px;
                            }
                            .personal-1 {
                                bottom: 15px;
                            }
                            .personal-2 {
                                bottom: 45px;
                                left: -18px;
                            }
                            .personal-4 {
                                top: 35px;
                                left: 30px;
                            }
                            .personal-3 {
                                width: 41px;
                                height: 41px;
                                bottom: 45px;
                                left: 20px;
                            }
                            .personal-5 {
                                width: 49px;
                                height: 49px;
                                left: -25px;
                                top: 20px;
                            }
                        }

                        .square-number {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            position: absolute;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 28px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #ffdbb1;
                            color: $color-main;
                            bottom: -15px;
                            left: -15px;
                        }
                    }
                    .item-box-bottom {
                        h3 {
                            margin-top: 35px;
                            margin-bottom: 16px;
                            font-weight: bold;
                            font-size: 32px;
                            line-height: 37px;
                            color: $color-main;
                        }
                        p {
                            color: var(--text-color);
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 23px;
                        }
                    }
                }
                .img-line {
                    position: absolute;
                    width: 80%;
                    z-index: -5;
                }
                .line-1 {
                    top: 0px;
                    left: -75px;
                    width: 35%;
                    height: 650px;
                }
                .line-2 {
                    bottom: 60px;
                    left: 300px;
                }
            }
        }
    }
}
