$color-main: #ff8b08;
$color-pup: #9B51E0;
$color-blue: #2D9CDB;
$color-green: #219653;
$color-red: #FA7B7B;


$light-bg: #fefefe;
$light-color-text: #2B2E4F;
$light-color-title:#2B2E4F;
$light-color-author:#000000;
$light-text-footer:#333333;

$dark-bg: #0d0d0d;
$dark-color-text: #ffffff;
$dark-color-title:#FF8B08;
$dark-color-author:#FF8B08;
$dark-text-footer:#F2C94C;


.light{
    --main-bg-color: #{$light-bg};
    --text-color: #{$light-color-text};
    --text-title-color: #{$light-color-title};
    --text-author-color: #{$light-color-author};
    --text-footer-color: #{$light-text-footer};
}
.dark{
    --main-bg-color: #{$dark-bg};
    --text-color: #{$dark-color-text};
    --text-title-color: #{$dark-color-title};
    --text-author-color: #{$dark-color-author};
    --text-footer-color: #{$dark-text-footer};
}